<div class="lightbox" data-lightbox hidden>
  <button class="lightbox__close" type="button" aria-label="Zavřít galerii" data-lightbox-close>&times;</button>
  <button class="lightbox__nav lightbox__nav--prev" type="button" aria-label="Předchozí" data-lightbox-prev>&#8249;</button>
  <figure class="lightbox__figure">
    <img class="lightbox__img" src="" alt="" data-lightbox-img>
    <figcaption class="lightbox__caption" data-lightbox-caption></figcaption>
  </figure>
  <button class="lightbox__nav lightbox__nav--next" type="button" aria-label="Další" data-lightbox-next>&#8250;</button>
</div>
