<article class="card">
  <a class="card__link" href="{{ card.url }}">
    <div class="card__media">
      {% picture card.image, card.title, "", "(max-width: 620px) 100vw, (max-width: 1024px) 50vw, 33vw", "lazy" %}
    </div>
    <div class="card__body">
      <h3 class="card__title">{{ card.title }}</h3>
      <p class="card__text">{{ card.text }}</p>
      <span class="card__more">Zobrazit službu {% icon "arrow" %}</span>
    </div>
  </a>
</article>
